.centro{
	text-align: center;
}

.loginBorder{
	width: 100%;
	border: 5px;
	
}

.imagePreview{
border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
.invalid{
  color: rgb(231, 28, 28);
}

.addBookContainer{
	padding-top: 50px;
	padding-bottom: 10px;
	margin-top: 60px;
	width: 35%;
	background-color: rgb(73, 73, 73);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 20px;
}

.genero{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  
}

.link{
  padding-top: 20px;
}

.btn-danger{
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}