.centro{
  margin-left: 4vw;
  margin-top: -2vh;
}
.text-light{
  text-align: left;
  margin-top: 2vh;
  margin-bottom: -1vh;
}
.formBookContainer{
  margin-top: 4vh;
  width: 100vw;
}

.generoMapping{
  margin-top: 1vh;
}

.imagePreview{
border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
.invalid{
  color: rgb(231, 28, 28);
}

.addBookContainer{
	padding-top: 50px;
	padding-bottom: 10px;
	margin-top: 60px;
	background-color: rgb(96, 100, 100);
  margin-bottom: auto;
  border-radius: 20px;
}

.grilla{
  grid-row: 2;
  grid-column: 1 / 5;
}

.link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}

.btn-danger{
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.label-grande{
  padding-top:5px;
}

.genero-l{
  
}


.list-menu{
  margin-left: -1vw;
  margin-right: auto;
  overflow:hidden;
  width: 70%;
  border-radius: 10px;
}



.list-item{
  overflow:hidden;
  text-overflow: ellipsis;
}

.form-control2{
  margin-top: 5%;
  margin-right: 5vh;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.audun_warn {
    color: #ffffff;
    background-color: #FF8080;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:.5em;
    border: 1px solid;
    margin: 5px 0px;
    padding:12px;
    width: 400px;
}

.fa-exclamation-triangle:before{
    margin-right:10px;
}

.success-added {
    color: #ffffff;
    background-color: #50ba30;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:.5em;
    border: 1px solid;
    margin: 5px 0px;
    padding:12px;
    width: 400px;
}

.unsuccess-added {
    color: #ffffff;
    background-color: #eb3030;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:.5em;
    border: 1px solid;
    margin: 5px 0px;
    padding:12px;
    width: 400px;
}

