.page-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.content-wrap{
    flex:1;
}

.noBooks{
    
    position:absolute;
    margin-left: 40vw;
    margin-top: 5vw;
    
}