.contenido{
  
   display: grid;
   margin-left: 4vw;
   grid-gap: 100px;
   grid-template-columns:repeat(auto-fill, 350px);
   margin-bottom: 5vh;

}

.h1{
  text-align: center;
  font-family: 'New Tegomin', serif;
  margin-top: 2%;
  margin-bottom: 2%;
}


p{
  width: 300px;
  text-align: center;
}