.contenido{
  margin-left: 5%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   margin-right: 5px;
   margin-top: 20px;
}

.h1{
  text-align: center;
  font-family: 'New Tegomin', serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imagen{
  width: 350px;
  border-radius: 10px;
  height: 400px;
  border: 1px solid #ddd;
  
  padding: 5px;
}

p{
  width: 300px;
  text-align: center;
 
}