.navbar-brand {
    font-family: 'Arial', cursive;
    font-size: 180%;
    margin-left: 1vh;
    
}


.navbar{
    background-color: #dddddd;
   
}

.boton-inicio{
    margin-left: 75%;
    
}



.h1{
    font-size: 40px;
}

.buttom-search{
    margin-top: 1%;
}

.homeButtom{
    color: white;
    font-size: 6mm;
    font-family: arial;
    border-width:2px;
    border-bottom: solid;
    border-bottom-width: 0.5px;
}